.or {
  text-align: center;
}

.small-text {
  font-size: $font-size-small;
}

.smaller-text {
  font-size: $font-size-xsmall;
}

.smallest-text {
  font-size: $font-size-xxsmall !important;
}

.error-message {
  @extend .smaller-text;
  font-weight: bold;
  color: #d23f3f;
}

.info-message {
  @extend .smaller-text;
}

.minor-info-message {
  @extend .smallest-text;
  color: #A09B9BFF;
}

.full-width {
  width: 100%;
}

.clear-float {
  clear: both;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.small-spacing {
  margin: $spacing-small 0;
}

.smaller-spacing {
  margin: $spacing-xsmall 0;
}

.large-spacing {
  margin: $spacing-large 0;
}

.tool-spacing {
  padding: $spacing-medium $spacing-medium $spacing-medium $spacing-medium;
}

.tool-spacing-sides {
  padding: $spacing-xxsmall $spacing-small !important;
}

.tool-spacing-top {
  padding: $spacing-medium $spacing-medium 0 $spacing-medium;
}

.tool-spacing-top-only {
  padding: $spacing-medium 0 0 0;
}

.tool-spacing-top-bottom-small {
  padding: $spacing-small 0 !important;
}

.tool-spacing-top-bottom {
  padding: $spacing-medium 0 $spacing-medium 0;
}

.small-padding {
  padding: $spacing-xxsmall;
}

.padding-top {
  padding-top: $spacing-xsmall;
}

.warning {
  @extend .smaller-text;
  font-weight: bold;
  color: darkorange;
}

.auto-margin {
  margin: auto;
}

.popover-content {
  width: 220px;
  text-align: center;
}

.gt-dropdown {
  display: block;
  height: 40px;
  width: 100%;

  &:focus {
    outline: 0;
    // box-shadow: $box-shadow-thin;
  }
}

.info-button {
  cursor:pointer;
  z-index: 100;
  width: $spacing-medium;
  height: $spacing-medium;
}

.csv-info-button {
  @extend .info-button;
  background: url('../images/info_outline.svg') no-repeat;
  width: $spacing-medium;
  height: $spacing-medium;
}

.sweet-alert {
  position: absolute !important;
  top: 40% !important;
  z-index: 10000 !important;
}

.small-scrollable {
  @extend .blue-scrollbar;
  overflow-y: auto;
  max-height: 250px;
}

@mixin green-scrollbar-mixin() {
  scrollbar-color: $secondary-color #31B98D14;
  scrollbar-width: thin;
  &::-webkit-scrollbar {
    width: $spacing-xxsmall;
    height: $spacing-xxsmall;
  }

  &::-webkit-scrollbar-track {
    box-shadow: $box-shadow-thin;
    background: $secondary-color-light;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $secondary-color;
  }
}

@mixin blue-scrollbar-mixin() {
  scrollbar-color: $primary-color #84BFEA33;
  scrollbar-width: thin;
  &::-webkit-scrollbar {
    width: $spacing-xxsmall;
    height: $spacing-xxsmall;
  }

  &::-webkit-scrollbar-track {
    background: $primary-color-focus;
    box-shadow: $box-shadow-thin;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $primary-color;
  }
}

.green-scrollbar {
  @include green-scrollbar-mixin();
}
.blue-scrollbar {
  @include blue-scrollbar-mixin();
}

.files-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px dashed rgba(19, 41, 61, 0.7);
  border-radius: 2px;
  background-color: #fafafa;
  color: #A09B9BFF;
  outline: none;
  transition: border .24s ease-in-out;
  padding: $spacing-medium;

  > ul > li {
    width: 200px;
    text-overflow: ellipsis;
    overflow: hidden;
    list-style-type: none;
  }

}

.gt-input {
  border-radius: $border-radius-small;
  border: 1px solid rgba(19, 41, 61, 0.7);
  display: block;
  padding: 12px;
  width: 100%;

  > input {
    border: none;
    line-height: 1.5;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
  }

  &:focus {
    outline: none;
    border: 2px solid $selection-color;
  }
}

.no-float {
  float: unset !important;
}


.no-center {
  text-align: start !important;
}

.small-margin {
  margin: $spacing-xsmall 0;
}

.underline-button {
  border: none;
  cursor: pointer;
  border-radius: $border-radius-small;
  font-family: $font-family-content;
  font-size: $font-size-xsmall;
  color: $primary-color;
  float: right;
  background: none;
  text-decoration: underline;
  display: inline-block;
  &:hover {
    font-weight: bold;
  }
}

.inline-flex {
  display: inline-flex;
}

.gt-button {
  border-radius: $border-radius-small;
  border: none;
  box-shadow: $box-shadow-button;
  color: white;
  cursor: pointer;
  font-family: $font-family-title;
  font-size: $font-size-medium;
  padding: 12px $spacing-medium;
  margin-right: $spacing-small;

  &.full {
    width: 100%;
  }

}

.gt-button-small {
  @extend .gt-button-accent;
  font-family: $font-family-content;
  font-size: $font-size-small;
  padding: 6px 12px;
}

.gt-button-accent {
  @extend .gt-button;
  background: $primary-color;

  &:hover {
    background: $primary-color-light;
  }

}

.gt-textarea {
  width: 90%;
  position: relative;
  margin: auto;
}

.gt-remove {
  border-radius: 50%;
  box-shadow: $box-shadow;
  cursor: pointer;
  float: right;
  background: $primary-color;
  color: white;
  padding: .25rem;

  &:hover {
    background: $primary-color-light;
  }
}
