.MuiSlider-root {
  z-index: 0;
  padding: 0;
  color: #31b98d !important;
}

.currentcolor {
  width: 36px;
  height: 14px;
  border-radius: 2px;
}

.no-border {
  border: none !important;
}

.table-row-font {
  @extend .MuiTableCell-root;
  color: rgba(0, 0, 0, 0.87);
}

.MuiSwitch-colorSecondary.Mui-checked {
  color: $secondary-color !important;
}

.MuiSwitch-colorSecondary.Mui-checked + .MuiSwitch-track{
  background-color: $secondary-color-focus !important;
}

.colorbutton {
  background-color: white;
  padding: 10px;
  text-align: left;
  color: white;
  width: 100%;
  height: 40px;
  border: 1px solid;
  border-radius: 4px;
  border-color: #000;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
}

.colorize-height {
  height: calc(100% - #{$spacing-tool-top}) !important;
}

.popover {
  position: absolute;
  z-index: 2;
}

.cover {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.inner {
  display: table;
  margin: 0 auto;
}

.gradientStep {
  height: 20px;
  margin-bottom: 5px;
  display: inline-block;
  width: 5%;
}

.gradient {
  width: 100%;
  text-align: center;
  white-space: nowrap;
  position: relative;
  display: inline-flex;
  top: 4px;
  bottom: 4px;
  padding-bottom: 15px;
}

.top-margin {
  margin-top: 15px;
}

.domain-min {
  position: absolute;
  left: 0;
  bottom: 3px;
}

.domain-med {
  position: absolute;
  right: 25%;
  left: 25%;
  text-align: center;
  bottom: 3px;
}

.domain-max {
  position: absolute;
  right: 0;
  bottom: 3px;
}

.react-numeric-input input {
  position: relative;
  display: inline-block;
  width: 100px;
  height: 40px;
  margin-left: 10px;
}

.classes-line {
  float: right;
  margin-bottom: 20px;
}
