.loader-container {
  background: rgba(0, 0, 0, 0.5);
  bottom: 0;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 9999;

  .loader {
    align-items: center;
    background: white;
    border-radius: $border-radius-large;
    box-shadow: $box-shadow;
    display: flex;
    justify-content: space-around;
    margin: auto;
    padding: $spacing-xlarge;
    position: relative;
    text-align: center;
    top: 50%;
    transform: translateY(-50%);
    width: 600px;

    @media (max-width: $breakpoint-medium) {
      flex-direction: column;
      width: 300px;
    }

    .spinner {
      border: $spacing-xsmall solid $primary-color;
      border-top: $spacing-xsmall solid white;
      border-radius: 50%;
      width: 100px;
      height: 100px;
      animation: spin 2s linear infinite;
      position: relative;
    }

    h3 {
      letter-spacing: 2px;
      font-size: $font-size-xxlarge;
      font-weight: bold;
      font-family: $font-family-title;
    }

    @keyframes spin {
      0% {
        transform: rotate(0deg);
      }
      100% {
        transform: rotate(360deg);
      }
    }
  }
}
