#map {
  width: 100%;
  height: 100%;

  .leaflet-control {
    border-radius: $border-radius-small;
    left: $menu-width;
    bottom: $navbar-height;
    a {
      border-radius: $border-radius-small;
    }
  }

  .leaflet-control-layers {
    left: 0 !important;
  }

  .legend {
    left: 0 !important;
  }

  .leaflet-top {
    top: 65px;
  }

}

[data-layout='hide-menu'] {
  #map {
    left: 0;
    .leaflet-control {
      left: 0;
    }
  }
  .basemaps {
    top: -65px;
  }
  .leaflet-top {
    top: 65px;
  }
}

.leaflet-container:fullscreen {
  .leaflet-control {
    left: 0 !important;
  }
  .leaflet-bottom {
    bottom: -$navbar-height !important;
  }
}

.basemaps {
  top: -65px;
  left: 0 !important;
}

.leaflet-control-attribution {
  left: 0 !important;
}

.map-container {
  position: fixed;
  left: 0;
  width: 100%;
  height: 100%;
}

.map-container-expanded {
  @extend .map-container;
  left: 0 !important;
}

.leaflet-control-layers-expanded {
  @extend .blue-scrollbar;
  padding: 0;
  width: 320px;
  overflow-x: auto;
  .leaflet-control-layers-list {
    @extend .blue-scrollbar;
    max-height: 300px;
    overflow-y: auto;
  }
}

.leaflet-popup-content{
  max-height: 400px;
  max-width: 250px;
  overflow: auto;
  word-break: break-word;
  &::-webkit-scrollbar {
    width: $spacing-xxsmall;
    height: $spacing-xxsmall;
  }

  &::-webkit-scrollbar-track {
    background: $primary-color-focus;
    box-shadow: $box-shadow-thin;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $primary-color;
  }
}

.leaflet-control-layers-overlay {
  display: table;
}

.info {
  padding: $spacing-xxsmall;
  font: 16px Arial, Helvetica, sans-serif;
  background: white;
}

.invisible {
  display: none !important;
}

.layer-control-item{
  padding: $spacing-xxsmall;
  overflow: hidden;

  >span {
    max-width: 150px;
    display: -webkit-inline-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    overflow: hidden;
    vertical-align: middle;
  }
}

.control-button {
  color: #000000;
  font-size: 14px;
  margin-left: 5px;
  border-radius: 4px;
  background-repeat: no-repeat;
  min-width: 24px;
  min-height: 24px;
  background-position: center;
  background-size: 18px 18px;
  background-color: white;
  cursor: pointer;
}

.collapse-button {
  @extend .control-button;
  border: none;
  background-image: url('../images/move_down.svg');
  &:hover {
    background-color: lightgrey;
  }
}

.clear-layer-button {
  @extend .control-button;
  border: none;
  background-image: url('../images/layers_clear.svg');
  &:hover {
    background-color: lightgrey;
  }
}

.collapse-button-open {
  @extend .collapse-button;
  background-image: url('../images/move_up.svg');
}

.control-button-hover {
  color: #FFF;
}

.blue-hover {
  @extend .control-button-hover;
  background-color: cornflowerblue;
  border-color: cornflowerblue;
}

.move-up-button {
  @extend .control-button;
  background-image: url('../images/move_up.svg');
}

.move-down-button {
  @extend .control-button;
  background-image: url('../images/move_down.svg');
}

.move-up-button:hover {
  @extend .blue-hover;
}

.move-down-button:hover {
  @extend .blue-hover;
}

.remove-button {
  @extend .control-button;
  background-image: url('../images/close.svg');
}

.remove-button:hover {
  @extend .control-button-hover;
  background-color: red;
  border-color: red;
}

.zoom-layer-button {
  @extend .control-button;
  background-image: url('../images/zoom.svg');
}

.zoom-layer-button:hover {
  @extend .control-button-hover;
  background-color: green;
  border-color: green;
}

.fixed-button-size {
  max-width: 24px !important;
  max-height: 24px !important;
}


.right {
  float: right;
}

.flex-right {
  margin-left: auto;
}

.inline-flex {
  display: inline-flex;
}

.map-info-panel {
  border: 2px solid rgba(0,0,0,0.2);
  background-clip: padding-box;
  line-height: 18px;
  color: #333;
  overflow: hidden;
  position: relative;
  max-height: 400px;
  display: flex;
  flex-direction: column;
}

.wms-options-panel {
  @extend .map-info-panel;
  width: 320px;
}

.legend {
  @extend .map-info-panel;
  width: 320px;

  .legend-subheader {
    color: #555;
    font-weight: bold;
    font-style: italic;
    opacity: 0.95;
    padding: $spacing-xxsmall;
  }
}

.legend-header {
  margin: $spacing-xxsmall;
  text-overflow: ellipsis;
  overflow: hidden;
}

.legend-entry {
  width: 18px;
  height: 18px;
  float: left;
  opacity: 0.5;
  padding-left: $spacing-xxsmall;
}

.scrollable {
  padding: $spacing-xxsmall;
  margin-top:  $spacing-xxsmall;
  max-height: 300px;
  overflow-y: auto;
  overflow-x: auto;
  font: 14px Arial, Helvetica, sans-serif;
  color: #555;
  @include green-scrollbar-mixin();
}

.border {
  border-style: solid;
  border-width: thin;
  border-color: #000
}


.leaflet-custom-button {
  width: 34px;
  height: 34px;
  line-height: 30px;
  background-position: center;
  background-repeat: no-repeat;
  border: 2px solid rgba(0,0,0,0.2);
  background-clip: padding-box;
  border-radius: 4px;
  cursor: pointer;
  background-color: #FFFFFF;
  &:hover {
    background-color: #F4F4F4;
  }
}

.leaflet-mapsearch
{
  background-image: url('../images/mapexplore.svg');
  @extend .leaflet-custom-button;
}

.leaflet-wmslayer
{
  background-image: url('../images/add_layer.svg');
  @extend .leaflet-custom-button;
}

.form {
  > select {
    float:right;
    margin-left: 4px;
  }
}
.marginLeft {
  margin-left: 4px;
}

.load-wms-button{
  @extend .control-button;
  &:hover {
    border: 2px cornflowerblue solid;
  }
}

.wmsInput {
  width: 250px;
}

.wms-description {
  max-width: 250px !important;
}

#wmsLoadMessage{
  font-size: $font-size-xxsmall;
}

.smallMargin {
  padding: 3px;
  margin: 2px;
}

// mobile
@media screen and (max-width: $breakpoint-large) {

  #map {
    .leaflet-control {
      left: 0;
    }
    left: 0;
    .leaflet-top {
      z-index: 999;
      top: 65px;
    }

  }
}
