.style-tool-icon {
  background: url('../images/color-palette.svg');
}

.load-tool-icon {
  background: url('../images/load.svg');
}

.search-tool-icon {
  background: url('../images/search.svg');
}

.back-arrow-icon {
  vertical-align: middle;
}

.background-button {
  border-radius: 4px;
  min-width: 32px;
  min-height: 32px;
  padding: 5px;
  &:hover {
    background-color: lightgrey;
  }
}

.popup-info {
  width: 350px;
}

.popup-info-short {
  width: 230px;
}

.menu-tools {
  position: absolute !important;
  bottom: $navbar-height;
  padding: $spacing-medium;
}

.menu-hidden {
  @extend .menu;
  display: none !important;
}

.menu-footer {
  align-items: center;
  bottom: $navbar-height;
  display: flex;
  justify-content: center;
  padding: $spacing-small;
  position: absolute;
  width: 100%;
  z-index: 1;

  > i {
    background-size: cover;
    height: $spacing-xlarge;
    margin-right: $spacing-small;
    width: $spacing-xlarge;
  }

  h3 {
    color: rgba(0, 0, 0, .15);
    font-family: $font-family-title;
    font-size: $font-size-xxlarge;
    letter-spacing: 2px;
    margin-right: 5px;
  }
}

.menu {
  background: white;
  bottom: 0;
  box-shadow: $box-shadow;
  font-family: $font-family-content;
  height: 100%;
  left: 0;
  position: absolute;
  top: $navbar-height;
  width: $menu-width;
  z-index: 1000;

  header {
    padding: $spacing-medium;
    height: 180px;
    background-image: url('../images/data-wheel.jpg');
    // background-size: cover;
    background-repeat: no-repeat;
    background-position: right;

    menu-header-title {
      font-family: $font-family-title;
      font-size: $font-size-xlarge;
      color: white;
      display: inline-block;
      text-shadow:  2px 2px 3px black;
      padding-left: $spacing-medium;
    }
    menu-header-text {
      font-family: $font-family-gro;
      font-size: $font-size-medium;
      color: white;
      text-shadow:  1px 1px 2px black;
      font-weight: bold;
    }
    a:visited {
      text-decoration: none;
    }
    a {
      color: white;
    }
  }

  #search {
    width: 100%;
  }

  #content {
    height: 100%;
    margin-top: $spacing-medium;
    overflow-y: auto;

   @extend .green-scrollbar;

    #tool-button-container {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      align-items: center;
      flex-direction: column;

      .tool-button {
        background: white; //#86bdff1c;
        border-radius: $border-radius-large;
        border: 2px solid $primary-color;
        // box-shadow: 0 1px 5px 0 $primary-color;
        cursor: pointer;
        height: 120px;
        margin: $spacing-medium / 2;
        text-align: center;
        text-decoration: none;
        width: 150px;

        > i {
          background-size: cover;
          width: $spacing-xlarge; // tool icon width
          height: $spacing-xlarge;
          color: $secondary-color;
          display: block;
          margin: $spacing-medium auto 0;
        }

        p {
          color: $primary-color;
          font-size: $font-size-small;
          margin-bottom: $spacing-small;
          font-weight: bold;
        }

        &:hover {
          background: white;
          border: 1px solid $primary-color;
          box-shadow: 0 1px 5px 0 $primary-color;
        }
      }
    }
  }

  > footer {
    @extend .menu-footer;
  }
}

[data-layout='hide-menu'] {
  #menu {
    display: none;
  }
}

// mobile
@media screen and (max-width: $breakpoint-large) {

  .info-icon {
    position: unset !important;
    bottom: unset !important;
    z-index: 10 !important;
  }
  .menu {
    top: 0;
    header {
      background: #1a3771;
      height: 100px !important;
      .menu-header-icon {
        background-image: url('../images/gro-geomapper.svg') !important;
        background-size: cover;
        width: 300px;
        height: 50px;
        margin-right: $spacing-small;
        margin-bottom: $spacing-small;
      }

      menu-header-title {
        display: none;
      }
      menu-header-text {
        display: none;
      }
    }
  }

  #menu {
    background: white;
    position: relative;
    text-align: center;
    width: 100%;
    z-index: 1000;
    max-height: 380px;
    overflow-y: auto;
    @include blue-scrollbar-mixin();
    footer {
      display: none;
    }
    #content {
      @include green-scrollbar-mixin();
      padding: 0;
      margin: 0;

      &.focus {
        padding: $spacing-medium;
        overflow-y: scroll;
        max-height: 275px;

        #tool-button-container {
          display: flex;

          .tool-button {
            height: 100px;
            width: 120px;
          }
        }
      }
    }
  }
}
