.navbar {
  background: #1a3771;
  width: 100%;
  list-style-type: none;
  height: $navbar-height;
  padding: 0;
  border-bottom: 1px solid white;
  margin: 0;
  display: inline-flex;
  align-items: center;
  overflow: hidden;

  .navbar-header {
    padding: $spacing-xsmall;
    display: flex;
    justify-content: left;
    align-items: center;
    .navbar-icon {
      background-image: url('../images/gro-geomapper.svg');
      background-size: cover;
      background-repeat: no-repeat;
      width: 280px;
      height: 50px;
      top: 0;
    }
    .menu-control {
      background-repeat: no-repeat;
      background-position: center center;
      background-size: cover;
      width: $spacing-large;
      height: $spacing-large;
      cursor: pointer;
    }
  }

  .navbar-right {
    overflow: hidden;
    cursor: pointer;
    background: none;
    border: none;
    color: white;
    font-size: 16px;
    font-family: $font-family-gro;
    margin-left: auto;
    &:hover {
      color: lightgrey;
    }
  }

  .imprint {
    color: white;
    font-size: 16px;
    margin: 10px;
    text-decoration: none;
    cursor: pointer;
    &:hover {
      color: lightgrey;
    }
  }

  .imprint-button {
    @extend .info-button, .background-button;
    position: absolute !important;
    bottom: $spacing-medium !important;
    background: url('../images/info.svg') no-repeat center;
  }

  .apikey-button {
    @extend .info-button, .background-button;
    background: url('../images/add_key.svg') no-repeat center;
    position: absolute !important;
    bottom: $spacing-medium !important;
    margin-left: 35px;
  }

  .apikey-input{
    width: 250px;
    display: inline-block;
    line-height: 1.5;
    border-radius: $border-radius-small;
    border: 2px solid rgba(19, 41, 61, 0.7);
    margin-top: 5px;
    &:focus {
      outline: none;
      border: 2px solid $selection-color;
    }
  }

  .navbar-add-api-key {
    display: inline-flex;
    font-size: 16px;
    align-items: center;
  }

  .remove-apikey-button {
    @extend .info-button;
    border: none;
    background: url('../images/delete.svg') no-repeat;
  }

  .apiKey-text {
    position: absolute;
    z-index: 2001;
    padding: $spacing-xsmall;
    font-family: $font-family-content;
    border-radius: 1px;
    margin-top: 15px;
    right: 10px;
    max-width: 300px;
    background: white;
    color: black;
    cursor: default;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }

  .faq-text {
    @extend .apiKey-text;
    right: 60px !important;
    max-width: 280px;
  }

  .menu-dropbtn {
    z-index: 2001;
    font-size: 16px;
    border: none;
    padding: 14px 16px;
    font-family: inherit;
    margin: 0;
  }

  .dropdown-icon {
    padding: $spacing-xsmall;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url('../images/dropdown.svg');
  }

  .gro-help {
    right: 10px !important;
    @extend .gro-dropdown;
  }

  .gro-dropdown {
    margin-top: 10px;
    right: 50px;
    z-index: 2001;
    position: absolute;
    background-color: white;
    min-width: 100px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    cursor: pointer;
  }

  .gro-dropdown a {
    float: none;
    background: white;
    color: black;
    padding: $spacing-xsmall;
    text-decoration: none;
    display: block;
    text-align: left;
    &:hover {
      background-color: lightgrey;
    }
  }
}

.menu-control-open {
  @extend .menu-control;
  background-image: url('../images/menu.svg') !important;
}

.menu-control-close {
  @extend .menu-control;
  background-image: url('../images/menu_open.svg') !important;
}

@media screen and (max-width: $breakpoint-large) {
  .navbar-header {
    .navbar-icon {
      display: none !important;
    }
  }
}
