#search-tool {
  border-right: 1px solid #1a3771;
}
.search-list-container {
  position: absolute;
  left: $menu-width;
  top: $navbar-height;
  bottom: $pagination-height;
  width: calc(100% - #{$menu-width});
  overflow: hidden;
  background: white;
  z-index: 2000;
}

.splitView {
  top: 55% !important;
}

.hidden {
  display: none;
}

.search-list-header {
  left: $menu-width;
  height: $search-header-height;
  background: white;
  width: calc(100% - #{$menu-width});
  z-index: 2000;
  img {
    cursor: pointer;
    padding: $spacing-xxsmall;
  }
  h3 {
    vertical-align: center;
    color: #333333;
  }
  .header-items {
    display: flex;
    justify-content: left;
    align-items: center;
  }
  .search-header-button {
    margin-left: auto;
  }
}

.medium-button-padding {
  padding: 6px 12px !important;
}
.search-list {
  @extend .green-scrollbar;
  overflow-y: auto;
  position: absolute;
  height: calc(100% - #{$navbar-height});//100%;
  width: 100%;
}
.pagination-list{
  bottom: 0;
  position: absolute;
  justify-content: center;
  align-items: center;
  display: flex;
  z-index: 2000;
  left: $menu-width;
  background: white;
  border-top: 1px solid lightgrey;
  width: calc(100% - #{$menu-width});
}


// mobile
@media screen and (max-width: $breakpoint-large) {
  #search-tool {
    @include green-scrollbar-mixin();
    height: 400px;
    overflow-y: auto;
  }
  .search-results {
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
    margin: $mobile-search-margin;
  }

  .results-message {
    text-align: unset !important;
  }
  .search-list-container {
    position: absolute !important;
    left: unset !important;
    top: 0 !important;
    bottom: $pagination-height;
    width: 100% !important;
    .collapse-button, .collapse-button-open {
      display: none;
    }
  }
  .search-list-header {
    top: 0 !important;
    width: 100%;
    left: unset;
  }
  .pagination-list {
    overflow: hidden;
    display: inline-flex;
    width: 100%;
    left: unset !important;
  }
}

.search-card {
  margin-bottom: 10px;
}

.search-results-text {
  font-size: $font-size-xxsmall;
  word-break: break-word;
}

.file-link {
  color: inherit;
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
}

.sort-options{
  z-index: 13;
}

.filter-options{
  z-index: 12;
}

.dataverse-options {
  z-index: 11;
}

.country-options {
  z-index: 10;
}

.search-files-list {
  height: 250px;
  overflow: auto;
  white-space: nowrap;
}

.results-message {
  padding: 5px;
  text-align: left;
  display: inline-block;
  word-break: break-word;
}

.row-background-even {
  background: white;
}

.row-background-odd {
  background: whitesmoke;
}

.MuiDataGrid-root .MuiDataGrid-columnHeaderTitleContainer{
  padding: 3px !important;
}
.MuiDataGrid-root .MuiDataGrid-columnHeader, .MuiDataGrid-root .MuiDataGrid-cell{
  padding: 3px !important;
}
.MuiDataGrid-root .MuiDataGrid-main {
  background: white;
}
.MuiDataGrid-virtualScroller {
  @extend .blue-scrollbar;
}

.MuiCardActions-root {
  @extend .blue-scrollbar;
  background: whitesmoke;
  overflow-x: auto;
}
.MuiCardContent-root{
  padding: $spacing-xsmall !important;
  background: whitesmoke;
}
.MuiTableCell-stickyHeader {
  background-color: whitesmoke !important;
}

.MuiPaper-outlined{
  border: 2px solid rgba(0, 0, 0, 0.12);
}

.rmsc .dropdown-container { //Filter outline
  border: 1px solid rgba(19, 41, 61, 0.7);
}

.rmsc {
  --rmsc-radius: 2px;
}
.MuiPagination-ul {
  flex-wrap: nowrap !important;
}
.MuiTableCell-root {
  line-height: 1.3 !important;
  padding: $spacing-xxsmall !important;
  font-family: unset !important;
}

.search-input {
  z-index: 10;
  text-align: center;
  > input[type=search] {
    border-radius: $border-radius-small 0 0 $border-radius-small;
    border: 2px solid rgba(19, 41, 61, 0.7);
    padding: 10px;
    font-size: $font-size-small;
    float: left;
    width: 80%;
    background: white;

    &:focus {
      outline: none;
      border: 2px solid $selection-color;
    }
  }

  input[type=search]::-webkit-search-cancel-button {
    -webkit-appearance: searchfield-cancel-button;
    cursor: pointer;
  }

  > input[type=button] {
    border-radius: 0 $border-radius-small $border-radius-small 0;
    border: none;
    float: left;
    width: 20%;
    padding: 12px;
    background: url('../images/search-white.svg') $primary-color no-repeat center;
    color: white;
    font-size: $font-size-small;
    cursor: pointer;
  }

  > input[type=button]:hover {
    border: 2px solid rgba(19, 41, 61, 0.7);
    padding: 10px;
    border-left: none;
    background: url('../images/search.svg') $primary-color-focus no-repeat center;
  }

  > input[type=button]:focus {
    outline: none;
    padding: 10px;
    border: 2px solid rgba(19, 41, 61, 0.7);
    border-left: none;
    background: url('../images/search.svg') $primary-color-focus no-repeat center;
  }


}




