.style-tool-icon-white {
  background: url('../images/color-palette-white.svg');
}

.load-tool-icon-white {
  background: url('../images/load-white.svg');
}

.search-tool-icon-white {
  background: url('../images/search-white.svg');
}

.tool-hidden {
  @extend .tool;
  display: none !important;
}

.tool {
  bottom: 0;
  box-shadow: $box-shadow;
  font-family: $font-family-content;
  height: 100%;
  left: 0;
  background: white;
  position: absolute;
  top: $navbar-height;
  width: $menu-width;
  z-index: 1000;

  > header {
    background-image: url('../images/data-wheel.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    color: white;
    padding: $spacing-large;
    width: 100%;

    .header-top-row {
      align-items: center;
      display: flex;
      justify-content: space-between;

      > a {
        color: white;
        text-decoration: none;

        > i, > span {
          vertical-align: middle;
        }
      }

    }

    .header-title-row {
      display: flex;
      margin-top: $spacing-medium;

      .tool-icon {
        background-repeat: no-repeat;
        background-size: contain;
        height: $spacing-large;
        margin-right: $spacing-small;
        width: $spacing-xlarge;
      }

      > p {
        font-family: $font-family-title;
        font-size: $font-size-large;
        letter-spacing: 1px;
        margin: 0;
      }
    }
  }

  > section.content {
    height: calc(100% - #{$spacing-tool-top});
    overflow-y: auto;
    padding: $spacing-medium;
    position: relative;
    z-index: 10;

    @extend .green-scrollbar;
  }

  .content-row {
    margin: $spacing-medium 0;

    &.submit-row {
      margin: $spacing-large 0 $spacing-large;
    }
  }

  > footer {
    @extend .menu-footer;
  }
}

// mobile
@media (max-width: $breakpoint-large) {

  .tool {
    background: white;
    position: relative;
    text-align: center;
    width: 100%;
    top: 0;

    > header {
      padding: $spacing-small;

      .header-top-row {

        i {
          width: $spacing-large;
          height: $spacing-large;
        }

        span {
          vertical-align: top !important;
        }
      }

      h3 {
        line-height: 1.2;
        letter-spacing: 1.5px;
        font-size: $font-size-large;
      }

      .header-title-row {
        margin-top: $spacing-small;
      }
    }

    section.content {
      overflow-y: auto;
      max-height: 300px;
      @include green-scrollbar-mixin();
      &.focus {
        padding: $spacing-medium;
        overflow-y: auto;
        background: white;

        > * {
          display: block;
        }
      }
    }

    footer {
      display: none;
    }
  }
}
