$border-radius-large: 6px;
$border-radius-small: 3px;

$spacing-xxsmall: 4px;
$spacing-xsmall: 8px;
$spacing-small: 16px;
$spacing-medium: 24px;
$spacing-large: 32px;
$spacing-xlarge: 40px;
$spacing-xxlarge: 48px;

$spacing-tool-top: 220px;
$spacing-modal-top: 70px;

$font-size-xxsmall: 12px;
$font-size-xsmall: 14px;
$font-size-small: 16px;
$font-size-medium: 18px;
$font-size-large: 24px;
$font-size-xlarge: 28px;
$font-size-xxlarge: 36px;

$menu-width: 350px;
$navbar-height: 65px;
$pagination-height: 65px;
$search-header-height: 65px;
$mobile-search-margin: 20px;
$top-margin: 150px;

$box-shadow: 1px 0 3px 0 rgba(0, 0, 0, 0.3);
$box-shadow-thin: 0 1px 3px 0 rgba(49, 185, 141, 0.3);
$box-shadow-button: 0 1px 2px 0 rgba(0, 0, 0, 0.2);

$font-family-title: 'Lalezar';
$font-family-content: 'Open Sans';
$font-family-gro: '-apple-system,BlinkMacSystemFont,“Segoe UI”,Roboto,Helvetica,Arial,sans-serif';

$breakpoint-xlarge: 1200px;
$breakpoint-large: 900px;
$breakpoint-medium: 700px;
$breakpoint-small: 550px;

$secondary-color: rgba(49, 185, 141, 1);
$secondary-color-focus: rgba(49, 185, 141, .8);
$secondary-color-light: rgba(49, 185, 141, 0.08);
$primary-color: rgba(0, 101, 151, 1);
$primary-color-focus: rgba(132, 191, 234, 0.2);
// $secondary-color: rgba(21, 50, 104, 1);
$primary-color-light: rgba(132, 191, 234, .5);

$selection-color: rgba(66, 133, 244, 1);
$row-color-even: rgba(0, 101, 151, .023);
$row-color-odd: rgba(0, 101, 151, .08);
